.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue-900);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 40px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navItem {
  color: var(--color-white);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: var(--color-blue-500);
}
