.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-blue-900);
  color: var(--color-white);
}

.form {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px var(--color-gray-600);
  width: 100%;
  max-width: 500px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--color-blue-800);
  margin-right: 10rem;
}

.field {
  margin-bottom: 1.2rem;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-gray-700);
}

.field input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--color-gray-600);
  border-radius: 4px;
  font-size: 1rem;
}

.field input:focus {
  border-color: var(--color-blue-500);
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.editButton,
.saveButton,
.cancelButton {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editButton {
  background-color: var(--color-blue-500);
  color: var(--color-white);
}

.saveButton {
  background-color: var(--color-green-700);
  color: var(--color-white);
}

.cancelButton {
  background-color: var(--color-gray-500);
  color: var(--color-white);
}

.editButton:hover {
  background-color: var(--color-blue-300);
}

.saveButton:hover {
  background-color: var(--color-green-800);
}

.cancelButton:hover {
  background-color: var(--color-gray-400);
}
