.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 2rem;
  background-color: var(--color-blue-900);
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  color: var(--color-white);
  font-weight: bold;
}

.jobsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.jobCard {
  min-width: 30rem;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.jobCard:hover {
  transform: translateY(-5px);
}

.jobCard h2 {
  font-size: 1.8rem;
  color: var(--color-blue-800);
  margin-bottom: 1rem;
}

.jobCard p {
  font-size: 1rem;
  color: var(--color-gray-700);
  margin: 0.5rem 0;
}

.jobCard button {
  background-color: var(--color-green-700);
  color: var(--color-white);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-top: 1rem;
}

.jobCard button:hover {
  background-color: var(--color-green-800);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
